.contenedorPrincipal{
  background-color: rgb(147, 147, 245);
  width: 100vw;
  display: flex;
  height: 100vh;
  align-items: center;
}
.contenedorLogin {
  width: 290px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background-color: rgb(29, 7, 150);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(3, 3, 100);
}

.datosFormulario {
  height: 60%;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tituloForm {
  color: white;
  border-bottom: 1px solid white;
  font-weight: bold;
  width: 220px;
  text-align: center;
}

.etiqueta {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.seccionDatos {
  border-bottom: 1px solid white;
  height: 70px;
  display: inline-flex;
  flex-direction: column;
}

.campo{
  flex-grow: 1;
  display: flex;
}

.campoEntrada {
  flex-grow: 1;
  outline: none;
  border-radius: 5px;
}

.botonCaja {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: space-around;
}

.boton {
  outline: none;
  background-color: white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: medium;
  box-shadow: 2px 2px rgb(45, 4, 121);
}

.boton:hover {
  cursor: pointer;
  transform: scale(1.09);
}

.campoEntrada:focus {
  border-color: black;
  box-shadow: 1px 1px rgba(1, 2, 12, 0.7);
}