.AddVenta {
    background-color: #e0e9ff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.FormVenta {
    background-color: #cfdbff;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0px 0px 15px 1px black;
}

.DivForm1 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
}

.DivForm2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 5%;
    justify-content: flex-start;
}

.DivForm3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 35%;
    margin: auto;
    width: 76%;
}

.labelForm {
    margin: 15px;
    font-size: 1.8em;
}

.labelForm2 {
    margin: 15px;
    font-size: 1.8em;
}

.productInSale>td {
    padding: 3px;
    border: 1px white solid;
}

.labelForm3 {
    margin: 15px;
    font-size: 1.8em;
}

.InputForm {
    margin-left: 20px;
    border-radius: 10px;
    outline: none;
    border-color: white;
    width: 300px;
    height: 35px;
    float: right;
}

.Div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addSaleButton {
    background: #3C538F;
    color: white;
    font-weight: bolder;
    font-size: 2em;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.addSaleButton:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    background-color: #5874bb;
}

.addSaleButton:focus {
    border: none;
    outline: none;
}

.addProductInSale {
    background: none;
    border: none;
    outline: none;
}

.addProductInSale:focus {
    border: none;
    outline: none;
}

.addProductInSaleLabel {
    text-align: center;
    font-size: 1.5em;
}

.productsInSaleDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.productsInSaleItem1 {
    border: 1px black dashed;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    width: 100%;
    padding: 2px;
    background-color: white;
    font-weight: bold;
}

.productsInSaleItem2 {
    border: 1px black dashed;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    background-color: #5874bb;
    color: white
}

.productsInSale {
    width: 100%;
    display: flex;
}

.IconAgregar {
    font-size: 4em;
    margin: auto;
}

.IconAgregar:hover {
    cursor: pointer;
    color: #3C538F;
    transform: scale(1.1);
}

#EstadoVenta{
    background-color: white;
    color: black;
}

#SeleccionarProducto{
    background-color: white;
    color: black;
}

#SeleccionarVendedor{
    background-color: white;
    color: black;
}